* {
    box-sizing: border-box;
}

#container {
    display: grid;
    height: 2400px;
   /*  grid-auto-rows: 80px 2000px 100px; */
    /* grid-template-rows: 80px 2000px 100px; */
    grid-template-rows: 1fr 5fr 2fr;
}

#container>div{
    background:rgb(66, 66, 66);
    border: 2px solid red;
}